{% extends "layout/default.html" %}

{% block main %} 		
<div id="main" role="main">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor feugiat dui, nec sodales massa adipiscing vel. Nam varius porttitor metus, ac cursus mi eleifend viverra. Pellentesque condimentum, tellus volutpat pretium venenatis, nisl massa molestie turpis, vitae pretium neque libero in ante. Sed in auctor metus. Donec gravida pharetra lacinia. Cras sit amet ligula ante. Ut rutrum eros in libero scelerisque laoreet. Maecenas lorem erat, tincidunt quis suscipit ac, viverra eu libero. Quisque semper consectetur nunc a ultricies. Nam posuere volutpat vulputate. Cras hendrerit, arcu eget molestie interdum, est quam lobortis orci, vel facilisis lorem est a nisi.</p>
	<p>Nam cursus mauris quis mauris congue pretium. Donec sit amet ligula elit, convallis vulputate quam. Curabitur varius metus id velit ultrices at rhoncus nunc iaculis. In eget laoreet eros. Suspendisse potenti. Nam scelerisque nisi eget odio facilisis sollicitudin. Nullam ullamcorper sodales rutrum. Aenean volutpat nisi vitae sapien ultricies pharetra. Fusce neque ipsum, auctor id condimentum sit amet, convallis eu augue. Ut velit nibh, venenatis quis vestibulum quis, lobortis id justo. Sed eget ipsum vitae risus ultricies pretium. Curabitur porttitor tempor nunc molestie faucibus. Aliquam erat volutpat.</p>
	{{ helpers.dummyImg(200,300)}}
	{{ helpers.dummyImg(200,300)}}
	{{ helpers.dummyImg(200,300)}}
	{{ helpers.dummyImg(200,300)}}
</div>
{% endblock main%}